/* * {
  background-color: lightpink;
} */

body {
  background-color: #b97ea2;
}

button {
  font-size: 30px;
  color: #24293b;
  background-color: rgb(76, 96, 160);
}

h1,
h2 {
  color: #7a4b68;
}

#signup {
  background-color: #16283f;
  color: rgb(223, 223, 223);
}

span {
  color: #16253a;
}

.tag {
  background-color: #616e80;
  font-size: 20px;
}

.post a {
  font-weight: 700;
  color: #3a6197;
  text-decoration: none;
}

footer a {
  color: #2b160d;
}

/* button that comes right after input, on the same level */
input + button {
  background-color: #440932;
  color: rgb(223, 223, 223);
}

h2 + button {
  font-size: 20px;
  background-color: moccasin;
}

/* directed decesdent of footer, only 1 level down */
footer > a {
  color: paleturquoise;
}

input[type="password"] {
  color: #b42d2d;
}

/* section[class="post"] {
  background-color: olive;
} */

a[href*="google"] {
  color: palegoldenrod;
}

.post a:hover {
  text-decoration: underline;
}

.post button:active {
  background-color: paleturquoise;
  color: black;
}

.post:nth-of-type(2n) {
  background-color: #a77393;
}

h2::first-letter {
  font-size: 50px;
}

p::first-line {
  color: purple;
}

p::selection {
  background-color: orange;
}

h1,
h2 {
  color: yellow;
}

/* which selector more specific will win */
/* !important > inline (bad) > ID > class > element */
.post button:hover {
  background-color: brown;
  color: rgb(223, 223, 223);
}

button:hover {
  background-color: olive;
}
button {
  background-color: orangered !important;
}
